<div class="px-5 py-2">
  <h1>Angular Projects</h1>
  <p>2020 / 2021</p>
  <div class="d-flex justify-content-center flex-wrap">
    <div class="flip-card m-5">
      <a routerLink="chunky">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              src="../../assets/images/angular/chunky-project.png"
              width="500"
              alt=""
            />
          </div>
          <div
            class="flip-card-back"
            [ngStyle]="{ 'background-color': randomColor }"
            (mouseleave)="getRandomColor()"
          >
            <h1>😹Chunky😻</h1>
            <p class="h5 p-2">
              You are taking care of Chunky for a couple of days while the owner
              is away. Make sure none of his stats reach zero.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="flip-card m-5">
      <a routerLink="spotify">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/images/angular/spotify.png" alt="" />
          </div>
          <div
            class="flip-card-back"
            [ngStyle]="{ 'background-color': randomColor }"
            (mouseleave)="getRandomColor()"
          >
            <h1>🎵Album Playlist🖼</h1>
            <p class="h5 p-2">
              Want to listen to some images? Generate a playlist on Spotify
              based on a selection of pictures.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="flip-card m-5">
      <a routerLink="spacex">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="../../assets/images/angular/spacex-project.png" alt="" />
          </div>
          <div
            class="flip-card-back"
            [ngStyle]="{ 'background-color': randomColor }"
            (mouseleave)="getRandomColor()"
          >
            <h1>🚀Space X Rockets👩‍🚀</h1>
            <p class="h5 p-2">
              Check the latest rocket launches from SpaceX. Live info and data
              on each rocket!
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
