<h1>Chunky</h1>
<p>This is your chunky cat: Chunky</p>
<img
  src="assets/images/chunky.jpg"
  class="img-fluid d-flex mx-auto"
  alt="chunky"
/>
<div class="mx-auto d-block">
  <app-stats [catData]="catData"></app-stats>
  <app-options [catData]="catData"></app-options>
</div>
<p class="m-5 p-5">
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam tenetur
  veritatis praesentium dignissimos dolore, at amet. Neque tenetur, illum hic
  voluptates consectetur reiciendis illo sequi obcaecati aliquam. Sed, quos
  odio, cum enim error praesentium voluptatum rem vero temporibus sit beatae
  numquam labore dicta nam. Suscipit magni ab ut ex officiis.
</p>
<app-footer></app-footer>
