<div class="px-5 py-2">
  <h1>Vanilla JS Projects</h1>
  <p>First projects I worked on when I first started in 2018.</p>
</div>
<div>
  <section class="cards-list d-flex py-5">
    <article *ngFor="let project of projects" class="card">
      <a [href]="project.link">
        <img
          [src]="'../../assets/images/vanilla/' + project.src"
          class="img-fluid mx-auto"
          [alt]="project.name"
        />
      </a>
      <p>
        <em>{{ project.name }}</em>
      </p>
    </article>
  </section>
</div>
