.cards-list {
  display: flex;
  overflow: hidden;
  transform: translateY(7rem);
  transition-duration: 1s;
  height: 38em;
  width: fit-content;
  padding: 3em 8em;
}
.cards-list:hover {
  transform: translateY(3rem);
  transition-duration: 1s;
}
.cards-list:hover #card0 {
  transform: rotate(-35deg) translateX(-5rem) translateY(5rem);
  transition-duration: 1s;
}
.cards-list:hover #card1 {
  transform: translateY(0);
  transition-duration: 1s;
}
.cards-list:hover #card2 {
  transform: rotate(35deg) translateX(5rem) translateY(5rem);
  transition-duration: 1s;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 300px;
  width: 285px;
  min-width: 250px;
  padding: 1.5rem;
  /* margin: 4em; */

  border-radius: 16px;
  background: #005267;
  box-shadow: -1rem 0 3rem #000;

  transition: 0.2s;
}

.h-84 {
  height: 84vh;
}
