.card-list {
  display: flex;
  overflow-x: scroll;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 410px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;

  border-radius: 16px;
  background: #005267;
  box-shadow: -1rem 0 3rem #000;

  transition: .2s;
}

.card:hover {
  transform: translateY(-3rem);
}

.card:hover~.card {
  transform: translateX(220px) translateY(6rem) rotate(20deg);
}

.card:not(:first-child) {
  margin-left: -160px;
}

.min-height-42 {
  min-height: 42em;
}