<div class="px-5 py-2">
  <h1>React Projects</h1>
  <p>2019</p>
</div>
<div class="mx-auto h-84">
  <a
    class="cards-list d-flex mx-auto"
    href="https://ana-portfolio-react.web.app/"
  >
    <article
      *ngFor="let project of projects; index as i"
      class="card"
      [id]="'card' + i"
    >
      <img
        [src]="'../../assets/images/react/' + project.src"
        class="img-fluid mx-auto"
        [alt]="project.name"
      />
      <p>
        <em>{{ project.name }}</em>
      </p>
    </article>
  </a>
</div>
