<h2 class="m-5">Stats</h2>
<div class="row mx-auto justify-content-around">
  <app-stat
    [icon]="'❤'"
    [change]="service.foodChange"
    name="Food"
    [value]="catData.food"
    class="col-sm"
  ></app-stat>
  <app-stat
    [icon]="'🍽'"
    [change]="service.healthChange"
    name="Health"
    [value]="catData.health"
    [class]="'col-sm'"
  ></app-stat>
  <app-stat
    [icon]="'🕹'"
    [change]="service.playChange"
    name="Play"
    [value]="catData.play"
    [class]="'col-sm'"
  ></app-stat>
  <app-stat
    [icon]="'🚿'"
    [change]="service.cleanChange"
    name="Clean"
    [value]="catData.clean"
    [class]="'col-sm'"
  ></app-stat>
  <app-stat
    [icon]="'💤'"
    [change]="service.sleepChange"
    name="Sleep"
    [value]="catData.sleep"
    [class]="'col-sm'"
  ></app-stat>
</div>
