<div class="container">
  <header class="section header mb-5" id="home">
    <!-- Notice -->
    <div class="border col-md-2 position-absolute right-0 top-40 text-center">
      <small class="d-block"
        >This portfolio is built on angular while the rest of the projects are
        built on Vanilla JS and React. To be able to come back to this homepage
        click on this icon</small
      >
      <a href="#"
        ><img
          src="../../assets/images/home/icon.svg"
          height="50"
          width="50"
          id="icon"
      /></a>
    </div>
    <!-- Big Ana Pisani and Logo -->
    <div class="d-block row mb-5 text-center">
      <div class="position-relative col-md">
        <img
          src="../../assets/images/home/name.svg"
          alt="Ana Pisani"
          class="name img-fluid px-5 mt-5 mx-auto"
        />
        <img
          src="../../assets/images/home/avataaars.svg"
          id="avatar"
          alt="Picture of myself"
          title="Ana Pisani"
          class="img-fluid mx-auto mt-5 px-5 position-absolute"
        />
      </div>
      <div class="col-md mx-auto pt-3 pb-5">
        <p>
          I'm a self-taught Front End Developer, currently working to become a
          Full Stack Developer.
        </p>
        <p>Check out the projects at the top.</p>
        <p>Each section was built using a different framework.</p>
      </div>
    </div>
  </header>
  <!--intro -->
  <div class="my-5 py-5">
    <div class="d-block py-5 col-md-5 position-relative text-center">
      <div class="position-absolute section-bg"></div>
      <h2>Some of the languages I use today include:</h2>
      <p>Html 5, Css 3, JavaScript 5 and C#.</p>
      <div class="">
        <div class="smallIcons d-flex flex-row flex-wrap">
          <img
            *ngFor="let lang of home.langs"
            [src]="'../../assets/images/home/' + lang"
            [alt]="lang"
            class="mx-auto img-fluid p-2 col-4 col-md-2"
            [title]="lang"
          />
        </div>
      </div>
    </div>
    <div
      class="d-block py-5 col-md-5 offset-md-7 position-relative text-center"
    >
      <div class="position-absolute section-bg"></div>
      <h2>Libraries &amp; Frameworks:</h2>
      <p>Jquery, React, Angular, Bootstrap and Sass.</p>
      <div class="">
        <div class="smallIcons row">
          <img
            *ngFor="let lib of home.libs"
            [src]="'../../assets/images/home/' + lib"
            [alt]="lib"
            class="mx-auto img-fluid p-2 col-4 col-md-2"
            [title]="lib"
          />
        </div>
      </div>
    </div>
    <div class="d-block py-5 col-md-5 position-relative text-center">
      <div class="position-absolute section-bg"></div>
      <h2>Designing software:</h2>
      <p>Photoshop, Illustrator, XD, Gimp and Inkscape.</p>
      <div class="">
        <div class="smallIcons row">
          <img
            *ngFor="let design of home.designs"
            [src]="'../../assets/images/home/' + design"
            [alt]="design"
            class="mx-auto img-fluid p-2 col-4 col-md-2"
            [title]="design"
          />
        </div>
      </div>
    </div>
    <div
      class="d-block py-5 my-5 col-md-5 offset-md-7 position-relative text-center"
    >
      <div class="position-absolute section-bg"></div>
      <h2>Others:</h2>
      <p>Github, Bitbucket, Slack, Axosoft, IceScrum and Figma.</p>
      <div class="row">
        <img
          *ngFor="let other of home.others"
          class="col-md-6"
          [src]="'../../assets/images/home/' + other"
          [alt]="other"
          [title]="other"
        />
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
